@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .errmsg {
    display: inline-block;
    background-color: #FFF;
    color: firebrick;
    padding: 0.25em;
    margin-bottom: 0.5em;
  }
  
  .errmsg a:any-link {
    color: firebrick;
    text-decoration: underline;
  }
  
  .nowrap {
    white-space: nowrap;
  }

  .icon_button {
    font-size: 2.5vw;
    background-color: transparent;
    border: none;
    color: #675454;;
    display: flex;
    align-items: center;
  }
  
  .icon_button:hover,
  .icon_button:focus-visible {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .icon_button[disabled] {
    visibility: hidden;
  }

  .icon-button {
    width: 48px;
    height: 48px;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    color: var(black);
    display: grid;
    place-content: center;
  }
  
  .icon-button:hover,
  .icon-button:focus-visible {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .icon-button[disabled] {
    visibility: hidden;
  }

  body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    background: rgba(246, 204, 167, 0.67);
    background-size: cover;
  
  }
  
  input,
  button,
  textarea,
  select {
  font: inherit;
  }

  #root {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  }

  a {
  text-decoration: none;
  }

  a:any-link {
  color: var(--LINK-COLOR);
  }

  a:hover,
  a:focus-visible {
  color: var(--LINK-HOVER);
  }

/* GENERAL STYLES */

/* HOMEPAGE STYLES */

.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 0px;
    background-size: cover;
    overflow: hidden;
  }

  .homepage_container {
    padding: 0.75em 0.5em 0.5em;
    flex-grow: 1;
  }

  .detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .detail_text {
    display: flex;
    padding-top: 1vw;
    padding-right: 9vw;
    flex-direction: column;
    align-items: flex-end;
    font-size: 3vw;
    text-decoration: none;
    color: #675454;
  }

/* HOMEPAGE STYLES */

/* HOMEPAGE HEADER STYLES */

.homepage_header {
    position: sticky;
    height: 8vw;
    top: 0;
    z-index: 1;
    padding-top: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
  }

  .homepage_header_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .homepage_header_nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 3vw;
  }

  .homepage_header_container .button_og {
    font-size: 2vw;
    background-color: transparent;
    border: none;
    color: #675454;
    display: flex;
    align-items: center;
  }

  .homepage_header_container .button_og:hover,
.homepage_header_container .button_og:focus-visible {
  transform: scale(1.2);
  cursor: pointer;
}

.homepage_header_container .button_og[disabled] {
  visibility: hidden;
}

.homepage_header_container .button_signin {
  font-size: 2vw;
  background-color: #36BBCD;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5vw 1.5vw;
  border-radius: 1.5em;
}

.homepage_header_container .button_signin:hover,
.homepage_header_container .button_signin:focus-visible {
  transform: scale(1.2);
  cursor: pointer;
}

.homepage_header_container .button_signin[disabled] {
  visibility: hidden;
}

/* HOMEPAGE HEADER STYLES */

/* HOMEPAGE FOOTER STYLES */

.homepage_footer_img {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .homepage_footer_img img{
    position: absolute;
    bottom: -6vw;
    left: -15vw;
    width: 80%;
    height: auto;
  }

  .homepage_footer{
    font-size: 1vw;
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: rgb(52, 52, 52);
    padding: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
  }
  
  .homepage_footer_nav{
    font-size: 1vw;
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: rgb(52, 52, 52);
    padding: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1em;
  }
  
  .homepage_footer .text{
    color: #FFF;
  
  }

/* HOMEPAGE FOOTER STYLES */

/* USERSLIST STYLES AND BOOKSLIST STYLES */

  thead,
  tbody,
  tr {
    display: contents;
  }

  .table {
    font-size: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 12.9vw 12.9vw 12.9vw 12.9vw 12.9vw;
    color: #000;
    gap: 0.1em;
  }

  .table__thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .table__th,
  .table__cell {
    background-color: #FFF;
    text-align: center;
    border: 1px solid #000;
    padding: 0.5em;
    overflow: hidden;
  }

  .table__cell:last-child {
    display: grid;
    place-content: center;
  }
  
  .table__cell--inactive {
    background-color: var(--INACTIVE);
  }

  .book__img {
    width: 7vw;
  }

  .table_book {
    font-size: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw;
    color: var(--TABLE-COLOR);
    gap: 0.1vw;
  }

/* USERSLIST STYLES AND BOOKSLIST STYLES */